---
layout: default
title: 소개
permalink: about/
background-class: about-background
body-class: features
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>반갑습니다!</h1>

        <p class="lead">파이토치 한국 사용자 모임은 한국 사용자를 위한 비공식 사용자 모임으로,
          한국어를 사용하시는 많은 분들께 PyTorch를 소개하고 함께 배우며 성장하는 것을 목표로 하고 있습니다.</p>

        <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow btn-white" data-cta="get-started">
            시작하기
        </a>
    </div>
</div>

{% assign about_blocks = site.about | sort: 'order' %}
{% assign maintainers = site.maintainers %}

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">

      {% for about in about_blocks %}
        <div class="row features-row">
        {% capture odd_or_even %}{% cycle 'odd', 'even' %}{% endcapture %}

        {% if odd_or_even == 'odd' %}
          <div class="col-md-6">
            <div class="feature-content">
             <div class="feature-content-holder">
               {{ about.snippet | markdownify }}
             </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-content">
              <h3>{{ about.title }}</h3>
              {{ about.content }}
            </div>
          </div>
        {% else %}
          <div class="col-md-6">
            <div class="feature-content">
              <h3>{{ about.title }}</h3>
              {{ about.content }}
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-content">
             <div class="feature-content-holder">
               {{ about.snippet | markdownify }}
             </div>
            </div>
          </div>
        {% endif %}
        </div>
      {% endfor %}
      <!-- maintainers -->
      <div class="row maintainers-row">
        <div class="maintainer-content">
          <a name="maintainers"></a>
          <h3 class="features">운영진 소개 (Maintainers)</h3>
          <p class="features">파이토치 한국 사용자 모임을 함께 만들어가고 계신 분들을 소개합니다.</p>
          <div class="container">
            <div class="row">
              {% for maintainer in maintainers %}
              {% if maintainer.team == "Alumni" %}
                {% continue %}
              {% else %}
                {% assign active_class = "active" %}
              {% endif %}
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
                <div class="maintainer">
                  <a class="{{ active_class }}" href="#"><img src="{{ site.base_url }}/assets/images/maintainers/{{ maintainer._id }}.png" alt="{{ maintainer._id }}"></a>
                  <div class="member-info">
                    <h3>{{ maintainer.name }}</h3>
                    <p class="title">{{ maintainer.title }}</p>
                    <p class="team">@{{ maintainer.team | split: ", " | join: ", @"}}</p>
                    {% if maintainer.link_github %}
                    <a href="{{ maintainer.link_github }}"><i class="fa fa-2x fa-github"></i></a>
                    {% endif %}
                    {% if maintainer.link_twitter %}
                    <a href="{{ maintainer.link_twitter }}"><i class="fa fa-2x fa-twitter"></i></a>
                    {% endif %}
                    {% if maintainer.link_instagram %}
                    <a href="{{ maintainer.link_instagram }}"><i class="fa fa-2x fa-instagram"></i></a>
                    {% endif %}
                    {% if maintainer.link_facebook %}
                    <a href="{{ maintainer.link_facebook }}"><i class="fa fa-2x fa-facebook-square"></i></a>
                    {% endif %}
                    {% if maintainer.link_linkedin %}
                    <a href="{{ maintainer.link_linkedin }}"><i class="fa fa-2x fa-linkedin"></i></a>
                    {% endif %}
                    {% if maintainer.link_youtube %}
                    <a href="{{ maintainer.link_youtube }}"><i class="fa fa-2x fa-youtube-play"></i></a>
                    {% endif %}
                    {% if maintainer.link_homepage %}
                    <a href="{{ maintainer.link_homepage }}"><i class="fa fa-2x fa-home"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- End of maintainers -->
      <!-- inactive maintainers -->
      <div class="row maintainers-row">
        <div class="maintainer-content">
          <h3 class="features">함께 하셨던 분들 (Alumni)</h3>
          <p class="features">파이토치 한국 사용자 모임과 함께 하셨던 분들을 소개합니다.</p>
          <div class="container">
            <div class="row">
              {% for maintainer in maintainers %}
              {% if maintainer.team == "Alumni" %}
                {% assign active_class = "inactive" %}
              {% else %}
                {% continue %}
              {% endif %}
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
                <div class="maintainer">
                  <a class="{{ active_class }}" href="#"><img src="{{ site.base_url }}/assets/images/maintainers/{{ maintainer._id }}.png" alt="{{ maintainer._id }}"></a>
                  <div class="member-info">
                    <h3>{{ maintainer.name }}</h3>
                    <p class="title">{{ maintainer.title }}</p>
                    <p class="team">@{{ maintainer.team | split: ", " | join: ", @"}}</p>
                    {% if maintainer.link_github %}
                    <a href="{{ maintainer.link_github }}"><i class="fa fa-2x fa-github"></i></a>
                    {% endif %}
                    {% if maintainer.link_twitter %}
                    <a href="{{ maintainer.link_twitter }}"><i class="fa fa-2x fa-twitter"></i></a>
                    {% endif %}
                    {% if maintainer.link_instagram %}
                    <a href="{{ maintainer.link_instagram }}"><i class="fa fa-2x fa-instagram"></i></a>
                    {% endif %}
                    {% if maintainer.link_facebook %}
                    <a href="{{ maintainer.link_facebook }}"><i class="fa fa-2x fa-facebook-square"></i></a>
                    {% endif %}
                    {% if maintainer.link_linkedin %}
                    <a href="{{ maintainer.link_linkedin }}"><i class="fa fa-2x fa-linkedin"></i></a>
                    {% endif %}
                    {% if maintainer.link_youtube %}
                    <a href="{{ maintainer.link_youtube }}"><i class="fa fa-2x fa-youtube-play"></i></a>
                    {% endif %}
                    {% if maintainer.link_homepage %}
                    <a href="{{ maintainer.link_homepage }}"><i class="fa fa-2x fa-home"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- End of inactive maintainers -->
    </div>
  </div>
</div>

{% include quick_start_module.html %}
