---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: true
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>From<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research To<br />Production</h1>
    <p class="lead">프로토타입부터 프로덕션까지 빠르게 만드는 오픈소스 머신러닝 프레임워크</p>
    <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow" data-cta="get-started">
      시작하기
    </a>
  </div>
</div>

<div class="main-content-wrapper">

  {% if page.display-news-banner == true %}

  {% assign news = site.news | sort: "order" %}

    <div id="news-items">
      <div class="list container news-banner-container">
        {% for news_item in news %}
          <div class="news-banner-text">
            {% include news_banner_info.html %}
          </div>
        {% endfor %}
      </div>
      <div class="pagination"></div>
    </div>
    {% else %}
    <div class="no-banner"></div>
  {% endif %}

  <div class="container homepage-feature-module key-features-module">
    <div class="row">
      <div class="col-md-12">
        <h2>주요 기능 및 성능</h2>

        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          모든 기능 보기
        </a>
      </div>
    </div>

    <div class="row key-features-boxes">
      {% assign features = site.features | where: "featured-home", true | sort: 'order' %}

      {% for feature in features %}
        <div class="col-md-3 key-feature-box">
          <h5>{{ feature.title }}</h5>
          <p>{{ feature.summary-home }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include quick_start_module.html %}

  <div class="homepage-feature-module community-module container-fluid">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ecosystem </h2>
          <h5>Feature Projects</h5>

          <a href="{{ site.external_urls.org }}/ecosystem" class="btn btn-lg with-right-arrow module-button" >
            모든 프로젝트 보기
          </a>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">Explore a rich ecosystem of libraries, tools, and more to support development.</p>
        </div>
      </div>

      <div class="row ecosystem-row">
        <div class="col-md-4">
          <div class="card ecosystem-card">
              <a href="{{ site.external_urls.org }}/ecosystem/Captum/">
              <div class="card-body  ">
                <h4>Captum</h4>
                <p class="card-summary">Captum (“comprehension” in Latin) is an open source, extensible library for model interpretability built on PyTorch.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ecosystem-card">
              <a href="{{ site.external_urls.org }}/ecosystem/pytorch-geometric/">
              <div class="card-body  ">
                <h4>PyTorch Geometric</h4>
                <p class="card-summary">PyTorch Geometric is a library for deep learning on irregular input data such as graphs, point clouds, and manifolds.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ecosystem-card">
              <a href="{{ site.external_urls.org }}/ecosystem/skorch/">
              <div class="card-body  ">
                <h4>skorch</h4>
                <p class="card-summary">skorch is a high-level library for PyTorch that provides full scikit-learn compatibility.</p>
              </div>
            </a>
          </div>
        </div>
      </div>

  </div>
</div>

<!-- Load JS for pagination -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>
