---
layout: default
title: 프로젝트 | PyTorchKR
permalink: projects/
body-class: projects
background-class: projects-background
---
{% assign projects = site.data.projects | sort: 'order' %}

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>프로젝트(Projects)</h1>

    <p class="lead">파이토치 한국 사용자 모임에서 진행하고 있는 프로젝트들입니다. <br />
    프로젝트에 참여하고 싶으시다면 각 프로젝트의 GitHub 저장소를 방문해주세요!</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">

      <div class="translation-section">
        <h3><i class="fa fa-language"></i> 번역 프로젝트</h3>
        <div class="row translation-cards">
          <div class="col-md-4">
            <div class="translation-card">
              <h5><i class="fa fa-book"></i> 튜토리얼 번역</h5>
              <p>PyTorch 공식 튜토리얼을 한국어로 번역하는 프로젝트입니다. 누구나 참여할 수 있습니다.</p>
              <div class="card-links">
                <a href="{{ site.baseurl }}/projects/tutorials-kr/">자세히 보기</a>
                <a href="https://tutorials.pytorch.kr" target="_blank"><i class="fa fa-globe"></i> 웹사이트</a>
                <a href="https://github.com/PyTorchKorea/tutorials-kr" target="_blank"><i class="fa fa-github"></i> GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="translation-card">
              <h5><i class="fa fa-cubes"></i> 모델 허브 번역</h5>
              <p>PyTorch Hub에 등록된 모델들의 한국어 문서를 제공하는 프로젝트입니다.</p>
              <div class="card-links">
                <a href="{{ site.baseurl }}/projects/hub-kr/">자세히 보기</a>
                <a href="https://pytorch.kr/hub" target="_blank"><i class="fa fa-globe"></i> 웹사이트</a>
                <a href="https://github.com/PyTorchKorea/hub-kr" target="_blank"><i class="fa fa-github"></i> GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="translation-card">
              <h5><i class="fa fa-pencil"></i> 블로그 번역</h5>
              <p>PyTorch 공식 블로그 글을 한국어로 번역하여 최신 소식을 전달하는 프로젝트입니다.</p>
              <div class="card-links">
                <a href="{{ site.baseurl }}/projects/blog-kr/">자세히 보기</a>
                <a href="https://pytorch.kr/blog" target="_blank"><i class="fa fa-globe"></i> 웹사이트</a>
                <a href="https://github.com/PyTorchKorea/pytorch.kr" target="_blank"><i class="fa fa-github"></i> GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row project-cards">
        {% for project in projects %}
        {% if project.slug != "translation" %}
        <div class="col-md-4">
          <div class="card project-card">
            <div class="card-body">
              <h4>
                <i class="fa {{ project.icon }}"></i>
                {{ project.title }}
              </h4>
              <p class="card-summary">{{ project.summary }}</p>
              <div class="card-links">
                {% if project.page_url %}
                <a href="{{ site.baseurl }}{{ project.page_url }}">자세히 보기</a>
                {% endif %}
                {% if project.website_url %}
                <a href="{{ project.website_url }}" target="_blank">
                  <i class="fa fa-globe"></i> 웹사이트
                </a>
                {% endif %}
                {% if project.github_url %}
                <a href="{{ project.github_url }}" target="_blank">
                  <i class="fa fa-github"></i> GitHub
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</div>
