---
layout: default
title: 리소스(Resources) | PyTorchKR
permalink: resources/
body-class: resources
redirect_from: /support/
---
{% assign resources = site.resources | sort: 'order' %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>개발자 정보(Resources)</h1>

    <p class="lead">공식 홈페이지/저장소를 비롯하여 도움이 되는 링크들을 모아두었습니다. <br />
    더 많은 정보들은 <a href="https://discuss.pytorch.kr/c/14" target="_blank">한국어 커뮤니티의 정보 공유 게시판</a>을 방문해주세요!</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <div class="row resources">

        {% for resource in resources %}
        <div class="col-md-4">
          <div class="card resource-card">
            <a href="{{ resource.link }}" {% unless resource.link contains 'pytorch.kr' %}target="_blank"{% endunless %}>
              <div class="card-body">
                <h4>{{ resource.title }}</h4>
                {% unless resource.link contains 'pytorch.kr' %}
                <i class="fa fa-external-link external-link-icon"></i>
                {% endunless %}
                <p class="card-summary">{{ resource.summary }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% include quick_start_module.html %}
