<meta property="og:title" content="파이토치 한국 사용자 모임 (PyTorch Korea User Group)" />
<meta
  name="description"
  property="og:description"
  content="(Unofficial) Korean user community for PyTorch which is an open source machine learning framework that accelerates the path from research prototyping to production deployment."
/>
<meta property="og:url" content="https://www.pytorch.kr" />
<meta property="og:type" content="website" />
<meta
  property="og:image"
  content="{{ site.url }}{{ site.baseurl }}/assets/images/pytorch-kr-logo.png"
/>
<meta name="robots" content="index, follow" />
