<p>
  사용 환경을 선택하고 설치 명령을 복사해서 실행해 보세요. Stable 버전은 테스트 및 지원되고 있는 가장 최근의 PyTorch 버전으로, 대부분의 사용자에게 적합합니다.
  Preview 버전은 아직 완전히 테스트나 지원이 되지 않는 최신 버전으로 매일 밤 업데이트됩니다. 사용 중인 패키지 매니저에 따라 <b>아래의 사전 요구사항(예: numpy)</b>이 충족되었는지 확인해 주세요.
  모든 의존성을 설치할 수 있는 Anaconda를 패키지 매니저로 추천합니다. <a href="{{ site.baseurl }}/get-started/previous-versions">이전 버전의 PyTorch도 설치할 수 있습니다</a>.
  LibTorch는 C++에서만 지원합니다.
</p>
<p>
  <b>참고:</b>
  최신 버전의 PyTorch를 사용하기 위해서는 Python 3.8 이상이 필요합니다. 자세한 내용은 <a href="{{ site.baseurl }}/get-started/locally/#mac-python">Python 섹션</a>을 참고해주세요.
</p>
<div class="row">
  <div class="col-md-3 headings">
    <div class="col-md-12 title-block">
      <div class="option-text">PyTorch 빌드</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text os-text">OS 종류</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">패키지 매니저</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">언어</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">플랫폼</div>
    </div>
    <div class="col-md-12 title-block command-block">
      <div class="option-text command-text">이 명령을 실행하세요:</div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row ptbuild">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">PyTorch 빌드</div>
      </div>
      <div class="col-md-6 option block version selected" id="stable">
        <div class="option-text">Stable (1.13.1)</div>
      </div>
      <div class="col-md-6 option block version" id="preview">
        <div class="option-text">Preview (Nightly)</div>
      </div>
    </div>
    <div class="row os">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">OS 종류</div>
      </div>
      <div class="col-md-4 option block" id="linux">
        <div class="option-text">Linux</div>
      </div>
      <div class="col-md-4 option block" id="macos">
        <div class="option-text">Mac</div>
      </div>
      <div class="col-md-4 option block" id="windows">
        <div class="option-text">Windows</div>
      </div>
    </div>
    <div class="row package">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">패키지 매니저</div>
      </div>
      <div class="col-md-3 option block selected" id="conda">
        <div class="option-text">Conda</div>
      </div>
      <div class="col-md-3 option block" id="pip">
        <div class="option-text">Pip</div>
      </div>
      <div class="col-md-3 option block" id="libtorch">
        <div class="option-text">LibTorch</div>
      </div>
      <div class="col-md-3 option block" id="source">
        <div class="option-text">Source</div>
      </div>
    </div>
    <div class="row language">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">언어</div>
      </div>
      <div class="col-md-6 option block version selected" id="python">
        <div class="option-text">Python</div>
      </div>
      <div class="col-md-6 option block" id="cplusplus">
        <div class="option-text">C++ / Java</div>
      </div>
    </div>
    <div class="row cuda">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">플랫폼</div>
      </div>
      <div class="col-md-3 option block version" id="cuda.x">
        <div class="option-text">CUDA 11.6</div>
      </div>
      <div class="col-md-3 option block version" id="cuda.y">
        <div class="option-text">CUDA 11.7</div>
      </div>
      <div class="col-md-3 option block version" id="rocm5.x">
        <div class="option-text">ROCm 5.2</div>
      </div>
      <div class="col-md-3 option block version" id="accnone">
        <div class="option-text">CPU</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title-block command-mobile-heading">
        <div class="option-text">이 명령을 실행하세요:</div>
      </div>
      <div class="command-container">
        <div class="col-md-12" id="command">conda install pytorch torchvision -c pytorch</div>
      </div>
    </div>
  </div>
</div>