<div class="container-fluid quick-start-module quick-starts">
  <div class="container">
    <div class="row">
      <div class="col-md-8 start-locally-col">

        <h3>PyTorch 설치하기</h3>

        {% include quick_start_local.html %}

        <a href="{{ site.baseurl }}/get-started/previous-versions" class="btn btn-lg with-right-arrow btn-white prev-versions-btn">
          이전 버전의 PyTorch
        </a>
      </div>

      <div class="col-md-3 offset-md-1 cloud-options-col">
        <h3>클라우드에서 <br /> 빠르게 시작하기</h3>

        <p>많이 쓰이는 클라우드 플랫폼과 머신러닝 서비스를 통해서 PyTorch를 빠르게 시작해보세요.</p>

        {% include quick_start_cloud_options.html %}

      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/quick-start-module.js"></script>
