<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}

<body class="blog">
    {% include tag_manager_script.html %}
    <div class="main-background blog-background blog-detail-background"></div>

    <div class="container-fluid header-holder blog-detail-header">
        <div class="container">
            {% include nav.html %}
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid blog-detail-jumbotron">
        <div class="container blog-detail-container">
            <p class="featured-post">{{ page.date | date: '%B %d, %Y' }}</p>
            <h1><a class="blog-title">{{ page.title }}</a></h1>
            {% if page.category contains 'translation' or page.category contains 'pytorch.org' %}
                <h4 class="blog-subtitle">{{ page.org_title }}</h4>
            {% endif %}
        </div>
    </div>

    <div class="main-content-wrapper blog-detail-wrapper">
        <div class="main-content blog-detail-content">
            <div class="container">
                <img src="{{ site.baseurl }}/assets/images/logo-icon.svg" class="img-fluid author-icon">
                <article class="pytorch-article">
                    <p class="author">
                      {% if page.category contains 'translation' or page.category contains 'pytorch.org' %}
                        {% if page.author %}
                            작성: {{ page.author }}, 번역: {{ site.default_author }}
                        {% else %}
                            작성: PyTorch Team, 번역: {{ site.default_author }}
                        {% endif %}
                      {% else %}
                        작성: {{ site.default_author }}
                      {% endif %}
                    </p>
                    {% if page.category contains 'translation' or page.category contains 'pytorch.org' %}
                    <p class="translation-description">
                        이 글은 <a href="https://pytorch.org/blog/">PyTorch 공식 블로그</a>의 글을 번역한 것입니다.
                        번역 글은 원문을 함께 표시합니다. 원문으로 이동하시려면 <a href="{{ page.org_link }}">여기</a>를 클릭하세요.
                    </p>
                    {% endif %}
                    <div class="blog-content">
                        {{ content }}
                    </div>
                    <hr noshade />
                    <p class="translation-description ad-discuss">
                        {% if page.discuss_id %}이 주제와 관련하여 {% endif %} 더 궁금하시거나 나누고 싶은 이야기가 있으신가요? <a href="{{ site.external_urls.site_community }}{% if page.discuss_id %}{{ page.discuss_id | prepend: '/t/' }}{% endif %}">파이토치 한국어 커뮤니티에 참여</a>해주세요!
                    </p>
                </article>
            </div>
        </div>
    </div>

    {% include blog_comments.html %}

    {% include footer.html %}
</body>
</html>
